<div class="container mt-5">
  <form (ngSubmit)="onSubmit()" class="form-group">
    <input class="form-control mb-3" type="text" name="username" [(ngModel)]="anytext" placeholder="Input any text" required>
    
    <input class="form-control mb-3" type="email" name="email" [(ngModel)]="email" placeholder="Enter your email" required>
    
    <input class="form-control mb-3" type="number" name="age" [(ngModel)]="age" placeholder="Enter your age" required>
    
    <input class="form-control mb-3" type="text" name="address" [(ngModel)]="address" placeholder="Enter your address" required>
    
    <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!anytext || !email || !age || !address">
  </form>
</div>
<p *ngIf="submitted" class="mt-3">You have entered: {{ anytext }}, {{ email }}, {{ age }}, {{ address }}</p>